name: Build project Griffon Stream-7

on:
  pull_request:
    branches:
      - Griffon-master-stream7

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      postgres:
        image: postgres:13.6
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgres
      redis:
        image: redis/redis-stack:latest
        ports:
          - 6379:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Install Redis CLI
        run: sudo apt-get install redis-cli

      - name: Build
        run: ./gradlew build -x test

      - name: Wait for PostgreSQL to be ready
        run: |
          for i in {1..30}; do
            if pg_isready -h localhost -p 5432 -U user; then
              echo "PostgreSQL is ready!"
              break
            fi
            echo "Waiting for PostgreSQL..."
            sleep 1
          done

      - name: Wait for Redis to be ready
        run: |
          for i in {1..30}; do
            if redis-cli -h localhost -p 6379 ping; then
              echo "Redis is ready!"
              break
            fi
            echo "Waiting for Redis..."
            sleep 1
          done

      - name: Show PostgreSQL logs
        run: docker logs ${{ job.services.postgres.id }}

      - name: Run integration tests
        run: ./gradlew test --tests "faang.school.achievement.controller.AchievementControllerIT"

      - name: Tests
        run: ./gradlew test